<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Models" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="createModel()">
            <i class="fa fa-plus-square"></i>
            {{ "Create" | localize }}
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <select class="form-control" type="number" [(ngModel)]="selectedStatus" name="status"
                (ngModelChange)="onStatusSelected(selectedStatus)">
                <option selected hidden [value]="selectedStatus">{{"Status" | localize}}</option>
                <option *ngFor="let statx of statusList" [ngValue]="statx">{{l(statx.name)}}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <input type="text" class="form-control" name="searchWord" [placeholder]="'SearchWithThreeDot' | localize"
                  [(ngModel)]="request.searchWord" (keyup.enter)="search()" />
                <div class="input-group-prepend">
                  <button type="button" class="btn bg-blue" (click)="search()">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered" [busy]="isTableLoading">
                <thead class="bg-light">
                  <tr>
                    <th>{{ "Id" | localize }}</th>
                    <th>{{ "Name" | localize }}</th>
                    <th>{{ "Status" | localize }}</th>
                    <th>{{ "CreatedDate" | localize }}</th>
                    <th style="width: 200px;">{{ "Actions" | localize }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                    let model of models
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          }
                  ">
                    <td>{{ model.id }}</td>
                    <td>{{ model.title }}</td>
                    <th>
                      <i *ngIf="model.status == 1" class="fas fa-clock" style="color: darkorange;"></i>
                      <i *ngIf="model.status == 2" class="fas fa-check" style="color: green;"></i>
                      <i *ngIf="model.status == 3" class="fas fa-times" style="color: red;"></i>
                    </th>
                    <th>{{model.creationTime}}</th>
                    <td>
                      <button type="button" class="btn btn-sm bg-secondary" (click)="editModel(model)">
                        <i class="fas fa-pencil-alt"></i>
                        {{ "Edit" | localize }}
                      </button>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize: totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>